name: Build and Deploy
on:
  push:
    branches:
    - main
jobs:
  runner:
    name: Package Pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.x'

      - name: Check version change
        id: check_version
        run: |
            DIFF_OUTPUT=$(git diff $(git rev-parse HEAD~1) $(git rev-parse HEAD) -- '**/*.csproj')
            if [[ -n "$DIFF_OUTPUT" ]]; then
                VERSION_CHANGED=$(echo "$DIFF_OUTPUT" | grep "<Version>")
                if [[ -n "$VERSION_CHANGED" ]]; then
                    echo "Version has changed."
                    echo "::set-output name=version_changed::true"
                else
                    echo "Version hasn't changed."
                    echo "::set-output name=version_changed::false"
                fi
            else
                echo "No changes in .csproj files."
                echo "::set-output name=version_changed::false"
            fi
        
      - name: Build & Publish NuGet package
        if: steps.check_version.outputs.version_changed == 'true'
        run: |
          dotnet pack --configuration Release --output nupkgs
          dotnet nuget push nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json