name: Build and Deploy
on:
  push:
    branches:
    - main
jobs:
  runner:
    name: Package Pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.x'

      - name: Check version change
        id: check_version
        run: |
          VERSION_CHANGED=$(git diff HEAD^ HEAD -- '**/*.csproj' | grep "<Version>")
          if [ -z "$VERSION_CHANGED" ]; then
            echo "Version hasn't changed. Skipping package deployment."
            echo "::set-output name=version_changed::false"
          else
            echo "Version has changed. Proceeding to package deployment."
            echo "::set-output name=version_changed::true"
          fi

      - name: Build & Publish NuGet package
        if: steps.check_version.outputs.version_changed == 'true'
        run: |
          dotnet pack --configuration Release --output nupkgs
          dotnet nuget push nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json